# Tabular Data Wrangling with Pandas

In this notebook, we'll explore how to manipulate and analyze tabular data using the powerful pandas library in Python. Pandas is an essential tool for data scientists and analysts working with structured data.

## 1. Importing pandas and creating a DataFrame

In [ ]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print(df)

## 2. Basic DataFrame operations

In [ ]:
# Display basic information about the DataFrame
print(df.info())

In [ ]:
# Display summary statistics
print(df.describe())

## 3. Selecting and filtering data

In [ ]:
# Select a single column
print(df['Name'])

In [ ]:
# Filter rows based on a condition
print(df[df['Age'] > 30])

## 4. Adding and modifying data

In [ ]:
# Add a new column
df['Country'] = ['USA', 'USA', 'USA', 'USA']
print(df)

In [ ]:
# Modify existing data
df.loc[df['Name'] == 'Alice', 'Age'] = 26
print(df)

## 5. Handling missing data

In [ ]:
# Introduce some missing data
df.loc[1, 'City'] = None
print(df)

In [ ]:
# Check for missing values
print(df.isnull().sum())

In [ ]:
# Drop rows with missing values
df_cleaned = df.dropna()
print(df_cleaned)

## 6. Grouping and aggregating data

In [ ]:
# Group by Country and calculate mean Age
print(df.groupby('Country')['Age'].mean())

## 7. Merging DataFrames

In [ ]:
# Create a new DataFrame
data2 = {
    'Name': ['Alice', 'Bob', 'Eve'],
    'Salary': [50000, 60000, 55000]
}
df2 = pd.DataFrame(data2)

# Merge the two DataFrames
merged_df = pd.merge(df, df2, on='Name', how='left')
print(merged_df)

## Conclusion

This notebook has introduced you to some of the fundamental operations for tabular data wrangling using pandas. These skills form the foundation for more advanced data analysis and manipulation tasks in Python.