# Tabular Data Wrangling with Pandas

This notebook introduces the basics of data manipulation using the pandas library in Python. Pandas is a powerful tool for working with structured data, particularly in tabular format.

First, we'll import the pandas library and create a simple DataFrame to work with.

In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print(df)

Let's examine the structure of our DataFrame using the `info()` method.

In [ ]:
df.info()

Now, we'll demonstrate how to select a single column from the DataFrame.

In [ ]:
ages = df['Age']
print(ages)

We can also filter rows based on a condition. Let's select all individuals older than 30.

In [ ]:
older_than_30 = df[df['Age'] > 30]
print(older_than_30)

Adding a new column to the DataFrame is straightforward. Let's add a 'Profession' column.

In [ ]:
df['Profession'] = ['Engineer', 'Teacher', 'Doctor', 'Artist']
print(df)

We can perform basic calculations on numerical columns. Let's calculate the average age.

In [ ]:
average_age = df['Age'].mean()
print(f"The average age is: {average_age:.2f}")

Finally, let's demonstrate how to sort the DataFrame based on a column.

In [ ]:
sorted_df = df.sort_values('Age', ascending=False)
print(sorted_df)

This concludes our introduction to tabular data wrangling with pandas. We've covered creating DataFrames, selecting columns, filtering rows, adding columns, performing calculations, and sorting data.