# Tabular Data Wrangling with Pandas

In this notebook, we'll explore the basics of working with tabular data using the Pandas library in Python. Pandas is a powerful tool for data manipulation and analysis, particularly suited for working with structured data.

## 1. Importing Pandas

In [ ]:
import pandas as pd
print(pd.__version__)

## 2. Creating a DataFrame

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'San Francisco', 'Los Angeles']
}
df = pd.DataFrame(data)
print(df)

## 3. Basic DataFrame Operations

In [ ]:
# Display basic information about the DataFrame
print(df.info())

In [ ]:
# Display summary statistics
print(df.describe())

## 4. Selecting Data

In [ ]:
# Select a single column
print(df['Name'])

In [ ]:
# Select multiple columns
print(df[['Name', 'Age']])

## 5. Filtering Data

In [ ]:
# Filter rows based on a condition
print(df[df['Age'] > 30])

## 6. Adding and Modifying Data

In [ ]:
# Add a new column
df['Country'] = ['USA', 'USA', 'USA']
print(df)

In [ ]:
# Modify existing data
df.loc[0, 'Age'] = 26
print(df)

## 7. Grouping and Aggregating Data

In [ ]:
# Group by Country and calculate mean age
print(df.groupby('Country')['Age'].mean())

## 8. Sorting Data

In [ ]:
# Sort DataFrame by Age
print(df.sort_values('Age', ascending=False))

## Conclusion

This notebook has covered the basics of tabular data wrangling with Pandas. We've learned how to create DataFrames, perform basic operations, select and filter data, add and modify data, group and aggregate, and sort data. These skills form the foundation for more advanced data analysis and manipulation tasks.